<html data-config="{&quot;redirect&quot;: <%= redirect %>}">
<head>
  <title><%= SiteSetting.privacy_policy_enforce_title %></title>

  <meta http-equiv="Content-Security-Policy" content="default-src gap://ready file://* *; style-src 'self' http://* https://* 'unsafe-inline'; script-src 'self' http://* https://* 'unsafe-inline' 'unsafe-eval'">
  <%= preload_script "ember_jquery" %>

  <%= preload_script "privacy-policy" %>

  <%= csrf_meta_tags %>

  <style>
    html {
      background: aliceblue;
      font-family: sans-serif;
    }

    .privacy-policy {
      font-size: 1.1em;
    }

    .box {
      position: relative;
      z-index: 11;
      background-color: white;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      margin: 1.5em auto;
      padding: 0;
      max-width: 1000px;
      min-width: 280px;
      width: 100%;
      border: 1px solid #ccc;
    }

    .box-contents {
      padding: 1.2em;
    }

    .btn.primary {
      background-color: #6699ff;
      color: white;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    }

    .btn {
      border-radius: 2px;
      font-size: 1em;
      border: 0;
      padding: 0.5em;
      transition: background-color 0.3s;
      margin-right: 0.5em;
      text-decoration: none;
      background-color: #fff;
      color: #333;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    }

    .row {
      display: flex;
      margin-top: 10px;
    }

    .col {
      padding: 1em;
    }
  </style>
</head>
<body class="privacy-policy">
<section id='main'>
  <div class="box">
    <div class="box-contents">
      <!---->
      <div>
        <div style="font-size: 2em;"><%= SiteSetting.privacy_policy_enforce_title %></div>

        <%= Topic.find(SiteSetting.privacy_policy_enforce_topic_id).posts.first.cooked.html_safe %>

        <div class="row">
          <div class="col" style="margin-top: 10px;">
            <input type="checkbox" name="accept" id="agree"/> <%= SiteSetting.privacy_policy_enforce_checkbox %>
          </div>
          <div class="col">
            <button class="btn primary" id="button">
              <%= SiteSetting.privacy_policy_enforce_button %>
              <i class="fa fa-sign-out d-icon d-icon-sign-out"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
