<div class="buttons">
    <a href="/privacy-policy/users.csv" class="btn btn-icon-text" target="_blank">
        {{d-icon "download"}}
        <span class="d-button-label">
            {{i18n 'privacy_policy_enforce.download'}}
        </span>
    </a>
</div>